a {
  color: rgba(9, 58, 131, 0.92);
  text-decoration: none;
}

a:hover {
  color: rgba(38, 113, 226, 0.92); /* warna merah saat hover */
}

a::before {
  content: "🔗 "; /* simbol sebelum link */
}

a::after {
  content: " (klik!)"; /* teks setelah link */
  font-size: 12px;
  color: gray;
}
